.App {
  text-align: center;
}

/* 
.page-body{
  width: 50%;
  margin: auto;
  padding-top: 50px;
  line-height: 1.9;
  min-height: 900px;
  max-height: 100vh;
}
.page-body h1, h2, h3{
  text-align: start;
  margin-left: 10px ;
} */







