.NavBar{
    background-color: rgb(238, 238, 243);
    padding: 10px;
    display: flex;
   align-items: center;
   justify-content: center;
   border-bottom: 4px solid black;
}
.NavBar .nav-link{
    text-decoration: none;
    color: rgb(8, 8, 62);
    font-weight: 600;
    font-size: 21px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: end;
    margin-right: 100px;
    
}
.NavBar ul{
    justify-content: end;
    display: flex;
}
.NavBar ul li{
    list-style: none;
}
.navbar-link{
    float: left;
    width: 100%;
}
.logo{
    width: 20%;
}